@model IEnumerable<TravelBlogAgain.Models.Location>

@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to Indy's Travel Blog</h2>

<div class="row">
    <div class="col-sm-8">
        <h3>Places I've been:</h3>
        @foreach ( var location in Model)
        {
            <h4>@Html.DisplayFor(locationItem => location.Name)</h4>
            <h6>@Html.ActionLink("Edit Location", "Edit", new { id = location.LocationId}) | @Html.ActionLink("Delete Location", "Delete", new { id = location.LocationId })</h6>
            @foreach (var experience in location.Experiences)
            {
                <h5>@Html.ActionLink(experience.Activity, "Details", "Experiences", new { id = experience.ExpId })</h5>

            }

        }
        @Html.ActionLink("Create New Location", "Create") |
        @Html.ActionLink("Create New Experience", "Create", "Experiences")
    </div>
    <div class="col-sm-4">
        <h3>Places I should go:</h3>
        <div id="suggestionList">
            
        </div>
        <h5>@Html.ActionLink("Make a Suggestion", "Create", "Suggestions")</h5>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        function AjaxSuggestionList() {
            $.ajax({
                url: '@Url.Action("GetOrderedSuggestions")',
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                    var finalHtml = "";
                    for (var i = 0; i < result.length; i++) {
                        finalHtml +=
                      "<h4>" + result[i].name + "</h4>" +
                      "<input type='submit' id=" + result[i].id + " class='add-upvote btn' value='↑' />" +
                      "<input type='submit' id=" + result[i].id + " class='add-downvote btn' value='↓' />" +
                      "<h6>Upvotes:<span id='result" + result[i].id + "'>" + result[i].upvotes + "</span></h6>";
                    }
                     console.log(result);
                    console.log(finalHtml);
                    $('#suggestionList').html(finalHtml);
                }
            });
        }

        AjaxSuggestionList();


        setTimeout(function () {
            $('.add-upvote').click(function (event) {
                var clickedId = $(this).attr('id');
                event.preventDefault();
                console.log("oh, hi");
                $.ajax({
                    url: '@Url.Action("AddUpvote", "Suggestions")',
                    type: 'POST',
                    //dataType: 'json',
                    data: { id: clickedId },
                    success: function (result) {
                        $('#result' + clickedId).text(result);
                    }
                });
            });

            $('.add-downvote').click(function (event) {
                var clickedId = $(this).attr('id');
                event.preventDefault();
                console.log("oh, hi");
                $.ajax({
                    url: '@Url.Action("AddDownvote", "Suggestions")',
                    type: 'POST',
                    //dataType: 'json',
                    data: { id: clickedId },
                    success: function (result) {
                        $('#result' + clickedId).text(result);
                    }
                });
            });

        }, 500);



    });
</script>